html, body {
  height: 100%;
  font-family: "Helvetica New";
  background-color: #f1e6d0;
}

.spacing-right-10 {
  margin-right: 10px;
}

.spacing-left-10 {
  margin-left: 10px;
}

.black-body {
  background-color: black !important;
}

.btn-large {
}

.content {
  margin-top: 5px;
}

.vert-space {
  margin: 5px 0 5px 0;
}